{{- $title := site.Title -}}
{{- if not .IsHome }}{{ $title = printf "%s · %s" .Title site.Title }}{{ end -}}
{{- $desc := .Params.summary | default .Description | default site.Params.description | plainify -}}
{{- if and (not .IsHome) (not .Params.summary) (not .Description) }}
  {{- with .Params.abstract }}{{ $desc = . | plainify }}{{ else }}{{ with .Summary }}{{ $desc = . | plainify }}{{ end }}{{ end -}}
{{- end -}}
{{- $desc = $desc | truncate 200 -}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ $title }}</title>
<meta name="description" content="{{ $desc }}">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{- with resources.Get site.Params.hero.poster }}{{ $og := .Fill "1200x630 Smart q80" }}
<meta property="og:image" content="{{ $og.Permalink }}">
{{- end }}
<meta name="twitter:card" content="summary_large_image">
{{- with resources.Get "media/icon.png" }}
{{- $fav := .Fit "64x64" }}{{ $touch := .Fit "180x180" }}
<link rel="icon" type="image/png" href="{{ $fav.RelPermalink }}">
<link rel="apple-touch-icon" href="{{ $touch.RelPermalink }}">
{{- end }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap">
{{- $css := resources.Get "css/site.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- range .AlternativeOutputFormats }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ site.Title }}">
{{- end }}
