{{- $type := "" }}{{ with .Params.publication_types }}{{ $type = index . 0 }}{{ end }}
{{- $venue := .Params.publication_short | default .Params.publication | default "" }}
{{- $hay := printf "%s %s %s %s %d %s %s" .Title (delimit (.Params.authors | default slice) " ") $venue (partial "venue-short.html" .) .Date.Year (.Params.award | default "") (.Params.note | default "") | lower }}
<li class="pub" data-type="{{ $type }}" data-dir="{{ delimit (.Params.research | default slice) " " }}" data-search="{{ $hay }}" id="{{ .File.ContentBaseName | urlize }}">
  <a class="pub-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
  <div class="pub-authors">{{ partial "authors.html" . }}</div>
  <div class="pub-venue">
    <span class="venue-short">{{ partial "venue-short.html" . }} {{ .Date.Year }}</span>
    {{- with .Params.publication_short }}<span class="venue-full">{{ . }}</span>{{ end }}
    {{- with .Params.award }}<span class="badge badge-award">{{ partial "icon.html" "award" }}{{ . }}</span>{{ end }}
    {{- with .Params.note }}<span class="badge badge-note">{{ . }}</span>{{ end }}
  </div>
  <div class="pub-links">{{ partial "pub-links.html" . }}</div>
</li>
